## IDE
.idea/

## build files
__pycache__/
tests/__pycache__/
.pytest_cache/
source/__pycache__
tests/__pycache__

## Environments
venv/
env/
.env

# Output Files
program_output.csv
results.cfs
/results